<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>0-hbnb</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav">
                <li>Home</li>
                <li>Contact</li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to HBNB!</h1>
        <p>This is a sample page.</p>
    </div>
</body>
</html>
